@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
}

p {
  font-weight: 300;
  color: #111;
}

/* CSS HOME */
.home {
  width: 100%;
  min-height: 100vh;
  background-color: #ffcb05;
  padding-top: 12em;
}

/* CSS BUTTON */
.explore {
  font-size: 1em;
  color: #fff;
  background: #005a9c;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
}

.explore:hover {
  background: #072b47;
  text-decoration: none;
  color: white;
}

/* CSS HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.sticky {
  background: white;
  padding: 10px 100px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.sticky .logo {
  color: #111;
}

header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

header .logo span {
  color: #005a9c;
}

header .navigation {
  position: relative;
  display: flex;
}

header .navigation li {
  list-style: none;
  margin-left: 30px;
}

header .navigation li a {
  text-decoration: none;
  color: #005a9c;
  font-weight: 550;
}

.sticky .navigation li a {
  color: rgb(37, 50, 78);
}

.navigation li a:hover {
  color: #005a9c;
}

section {
  padding: 100px;
}

.rowAbout {
  flex-direction: row-reverse;
}

/* CSS PORTFOLIO */

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

/* CSS SERTIFIKAT */
.sertifikat {
  background-color: #ffcb05;
  background-size: cover;
}

.sertifikat .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.sertifikat .content .box .imgBx {
  position: relative;
  width: 350px;
  height: 250px;
  margin-bottom: 20px;
  margin: 2px;
}

.sertifikat .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.sertifikat .content li {
  float: left;
  margin-bottom: 10px;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  display: block;
}

.sertifikat .content li,
.sertifikat .content li img,
.sertifikat .content li span {
  border-radius: 2%;
  width: 350px;
  height: 250px;
  border-radius: 5px solid white;
}

.sertifikat .content li span {
  display: block;
  width: 370px;
  height: 250px;
  background-color: rgba(93, 130, 155, 0.8);
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 120px;
  color: rgb(255, 255, 255);
  opacity: 0;
  transform: scale(0) rotate(0);
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.content li a:hover span {
  opacity: 1;
  transform: scale(1);
}
.clear {
  clear: both;
}

.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.8s;
  text-align: center;
  padding: 150px 0;
}

.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.overlay img {
  max-height: 100%;
  box-shadow: 2px 2px 7px rgba(8, 255, 29, 0.1);
}

.overlay:target img {
  animation: fadeAjah 1s;
}

.overlay .close {
  position: absolute;
  top: 123px;
  left: 57.6%;
  margin-left: 100px;
  color: white;
  text-decoration: none;
  background-color: black;
  border: 1px solid white;
  line-height: 14px;
  padding: 5px;
  opacity: 0;
}

.overlay:target .close {
  animation: slidedownFade 0.5s 0.5s forwards;
}

.overlay:target .next,
.overlay:target .back {
  animation: fadeAjah 0.5s 0.5s forwards;
}

/* NAVIGASI IMAGE SERTIFIKAT */
.next,
.back {
  width: 26px;
  height: 26px;
  background-image: url(image/next.png);
  position: absolute;
  text-indent: -99999px;
  top: 50%;
  right: 20px;
  opacity: 0;
}

.back {
  background-image: url(image/back.png);
  left: 20px;
  opacity: 0;
}

/* ANIMASI SERTIFIKAT  */

@keyframes fadeAjah {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes zommDanFade {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slidedownFade {
  0% {
    opacity: 0;
    margin-top: -20px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

/* CSS KONTAK FORM PESAN */
.contactForm {
  padding: 75px 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin-top: 50px;
  position: relative;
  text-align: center;
}

.contactForm h3 {
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}

.contactForm .inputBox input[type="submit"] {
  font-size: 1em;
  color: #fff;
  background: #005a9c;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.contactForm .inputBox input[type="submit"]:hover {
  background: #0e324b;
}

.copyRight {
  padding: 8px 40px;
  height: 40px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #133d5c;
}

.copyRight p {
  color: rgb(255, 255, 255);
}

.copyRight a {
  color: #ff0157;
  font-weight: 500;
  text-decoration: none;
}
/* CSS FOOTER */
.footer {
  background-image: url(image/footer.jpg);
  color: #fff;
}

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 10px 20px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    display: flex;
    width: 100%;
    height: calc(100% - 58px);
    position: fixed;
    top: 58px;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }

  header .navigation li {
    margin-left: 0;
  }

  header .navigation li a {
    color: #111;
    font-size: 1.6em;
  }

  .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(image/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  header .sticky .menuToggle {
    filter: invert(1);
  }

  section {
    padding: 20px;
  }

  .home .content {
    max-width: 300px;
  }

  .overlay .close {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%);
  }
  .overlay img {
    position: relative;
    max-width: 100%;
    padding: 5px;
    align-items: center;
  }
}
